/* Variables.css */
/* Store Variables Here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #1C212A;
  --dark-section: #232831;
  --section-color: #232831;
  --light-section: #4A4F58;
  --dark-primary: #4F595E;
  --primary-color: #213A6F;
  --light-primary: #34598B;
  --light-secondary: #E5E5E5; 
  --secondary-color: #D2D1D3; 
  --dark-secondary: #8d8d8d; 
  --accent-color: #FBA327;
  --text-color: #E6E2D9;
  --light-hover: #ffffff30;
  --light-accent: #fca211;
  --dark-green: #38813c;
  --light-green: #34ee3d;
  --green: #45a049;
  --red: #ff5722;
  /* #EAA51C #FBA327 */

  /* Fonts */
  --title-L: 2rem;
  --title: 1.8rem;
  --title-2: 1.4rem;
  --small: 0.8rem;
  --small-2: 0.6rem;
  --small-3: 6px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
  }
}