/* Variables.css */
/* Store Variables Here */
:root {
  --background-color: #1C212A;
  --dark-section: #1a1a1a;
  --section-color: #282a2e;
  --primary-color: #23355B;
  --light-primary: #087c9f;
  --dark-primary: #1d263a;
  --secondary-color: #E5E5E5;
  --accent-color: #FCA311;
  --text-color: #FFFFFF;
  --light-hover: #ffffff30;
  --light-accent: #fca211;

  /* Fonts */
  --title: 1.8rem;
  --title-2: 1.4rem;
  --small:0.8rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
  }
}