/* SidebarLink.css */

.sidebar-link {
  position: relative;
  padding: 0.8rem 0;
  margin-left: 4rem;

}

.sidebar-link.active::before {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: var(--accent-color);
  content: "";
  left: 0%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 2px;
}

/*
.sidebar-link.active:hover {
  box-shadow: inset 0 5px 10px #805d0480,
  inset 0 -5px 10px #1C212A80;
}
*/