/* Button.css */

.btn {
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn.right {
  position: absolute;
  right: 0;
}

.btn.btn-wide.btn-G {
  padding: 1rem 2rem;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1rem;
}

.btn.btn-wide.btn-G span {
  gap: 0.5rem;
}

.btn.btn-wide svg {
  scale: 1.2;
}

.btn-1 {
  border: 4px solid var(--accent-color);
  border-radius: 8px;
  background-color: transparent;
  color: var(--accent-color);
  font-weight: 700;
}

.btn.btn-1:hover,
.btn-4:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0 0 15px var(--light-accent);
}

.btn-2 {
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--section-color);
  transition: border-color 0.25s;
}

.btn-2:hover {
  box-shadow: 0 0 2px 5px #1a1a1a50;
}

.btn-3 {
  border-radius: 8px;
  background-color: transparent;
  border: 4px solid var(--dark-secondary);
  color: var(--dark-secondary);
}

.btn-3:hover {
  color: var(--dark-section);
  background-color: var(--dark-secondary);
}


.btn-4 {
  border: 4px solid var(--accent-color);
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--section-color);
  font-weight: 700;
}

.btn.btn-G {
  padding: 0.4rem 0.7rem;
  border: 1px solid var(--green);
  border-radius: 6px;
  background-color: var(--green);
  color: var(--background-color);
  font-weight: 700;
  font-size: var(--small);
}

.btn-G:hover {
  color: var(--background-color);
  box-shadow: 0 0 7px var(--light-green);
}

.btn-section .btn {
  scale: 0.85;
}