/* Button.css */

.btn {
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  transition: 0.3s;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
}

.btn-1 {
  border: 4px solid var(--accent-color);
  border-radius: 8px;
  background-color: transparent;
  color: var(--accent-color);
  font-weight: 700;
}

.btn.btn-1:hover,
.btn-4:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0 0 15px var(--light-accent);
}

.btn-2 {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-section);
  transition: border-color 0.25s;
}

.btn-2:hover {
  box-shadow: 0 0 2px 5px #1a1a1a50;
}

.btn-3 {
  border-radius: 8px;
  background-color: transparent;
  border: 4px solid var(--dark-secondary);
  color: var(--dark-secondary);
}

.btn-3:hover {
  color: var(--dark-section);
  background-color: var(--dark-secondary);
}


.btn-4 {
  border: 4px solid var(--accent-color);
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--section-color);
  font-weight: 700;
}