/* SortingTable.css */
/* Table */
.page-body-section > .table {
  margin: 0 3%;
  background-color: var(--dark-section);
  border-radius: 10px;
  box-shadow: 1px 4px 6px #72727230;
  padding: 2% 3%;
  z-index: 0;
}

.page-body-section > .table-grid {
  display: grid;
  grid-template-columns: auto 400px;
  grid-auto-rows: auto;
  gap: 2%;
}

.table.enhanced-table {
  padding-bottom: 0;
}

div.MuiToolbar-root.MuiToolbar-gutters.css-1whpjm6-MuiToolbar-root{
  background-color: #213A6F80;
}

.page-body-section > .table tbody th {
  color: var(--accent-color);
  font-weight: 600;
}

/* Table Header */
.page-body-section > .table thead tr {
  border-color: var(--dark-primary);
}

.page-body-section > .table thead span,
.page-body-section > .table thead span svg.MuiSvgIcon-root.MuiTableSortLabel-icon {
  color: var(--dark-primary);
  font-weight: 600;
}



/* Table Header Separator */
th.css-hbtnrh-MuiTableCell-root,
th.css-10dfkli-MuiTableCell-root,
th.css-1azl6jz-MuiTableCell-root {
  border-color: var(--dark-primary);
}

/* Table body content */
.page-body-section > .table tbody td {
  color: var(--light-secondary);
}

tr.css-10cbwbc-MuiTableRow-root.Mui-selected {
  background-color: #8d8d8d20;
}

tr.css-10cbwbc-MuiTableRow-root.Mui-selected:hover {
  background-color: #8d8d8d50;
}

/* Table Pagination */
.MuiTablePagination-selectLabel.css-pdct74-MuiTablePagination-selectLabel,
.MuiSelect-select,
.MuiTablePagination-select,
.css-levciy-MuiTablePagination-displayedRows {
  color: var(--secondary-color);
}

div.css-194a1fa-MuiSelect-select-MuiInputBase-input {
  color: var(--secondary-color);
}

/* Table Separators */
td.css-1ex1afd-MuiTableCell-root {
  border-color: var(--secondary-color);
}

td.css-177gid-MuiTableCell-root,
td.css-1nf681w-MuiTableCell-root,
th.css-11w94w9-MuiTableCell-root {
  border-color: var(--dark-secondary);
}