/* PrisonerForm.css */

.prisoner-form {
  width: 95%;
  height: 85%;
}

.prisoner-form .grid-container {
  display: grid;
  grid-template-rows: repeat(2, auto); /* Two rows for sections */
  grid-template-columns: 1fr; /* One column for the first row (prisoner details) */
  gap: 1rem;
}

/*
  Prisoner's details
*/
.prisoner-details {
  grid-row: 1 / span 1; /* Prisoner details spans the first row */
  grid-column: 1 / span 2;
}

/*
  Offenses section
*/

.offenses-section,
.cell-section {
  grid-row: 2 / span 1; /* Offenses and cell sections span the second row by default */

  /* Adjust styles as needed for offenses and cell sections */
}

.sentence-date {
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
}